@import url("./reset.scss");

@mixin flex(
  $direction: row,
  $wrap: nowrap,
  $justifyContent: flex-start,
  $alignItems: center
) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

// header
header {
  @include flex(row, nowrap, space-between, center);
  background-color: skyblue;
  width: 100%;
  position: fixed;
}

//nav
.nav {
  @include flex(column, nowrap, center, flex-start);
  background-color: pink;
  position: fixed;
  top: 30%;
  margin-left: 2rem;
}

.nav ul {
  list-style-type: none;
}

//nav와 main을 묶는 wrapper
.product_category_wrapper {
  display: flex;
}

//슬라이드 섹션
.slide_section_wrapper {
  position: relative;
  top: 4rem;
  width: 100%;
  height: 30rem;
  overflow: hidden;
}

//슬라이드 애니메이션
.slide_animation {
  display: flex;
  animation: 30s linear 0s infinite sliderAnimation;
}

@keyframes sliderAnimation {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-85%);
  }
}

//슬라이드 이미지
.slide_img {
  width: 200%;
  height: 8rem;
}

//메인 태그
main {
  display: flex;
  flex-direction: column;
  margin-left: 10rem;
}

//상품 카드 전체 wrapper
.product_card_wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

//상품 카드
.product_card {
  @include flex(column, nowrap, center, center);
}

//상품 카드 이미지
.product_card_img {
  width: 10rem;
  height: 10rem;
}

//footer
footer {
  @include flex(column, nowrap, center, center);
  background-color: skyblue;
}
